/*globel rules*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style-type: none;
}
/*start varible*/
:root {
    --main-color: #19c8fa;
    --section-padding: 100px;
}
/*end varible*/
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
/*end globel rules*/
/*start componnet*/
.main-heading {
    text-align: center;
}
.main-heading h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: normal;
    position: relative;
    margin-bottom: 70px;
}
.main-heading h2::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    background: #333;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
}
.main-heading h2::after {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    background-color: white;
    border: 2px solid #333;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -37px;
}
.main-heading p {
    color: #777;
    width: 550px;
    margin: 0 auto 100px;
    line-height: 2;
    max-width: 100%;
}
/*end componnet*/
/*start header*/
header {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 3;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 30px);
    background-color: #a2a2a2;
    bottom: 0;
    left: 15px;
}
header .container img {
    width: 125px;
    height: 40px;
}
header nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav .toggle-menu {
    color: white;
    font-size: 22px;
}
@media (min-width:767px) {
    nav .toggle-menu {
        display: none;
    }
}
header nav ul {
    display: flex;
}
@media (max-width:767px)
{
    header nav ul {
        display: none;
    }
    nav .toggle-menu:hover + ul {
        display: flex;
        flex-direction: column;
        left: 0;
        position: absolute;
        top: 100%;
        background-color: rgb(0 0 0 / 50%);
        width: 100%;
    }
    nav .toggle-menu:hover + ul li a {
        padding: 15px;
    }
}
header nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 40px 10px;
    position: relative;
    z-index: 2;
}
header nav ul li a.active,
header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}
.form i {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
/*end header*/
/*start landing*/
.landing {
    background-image: url("./images/landing.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
}
.landing .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 50%);
}
.content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    color: white;
    padding: 50px;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(15 116 143 / 70%);;
}
.content .text {
    max-width: 500px;
}
@media (max-width:767px) {
    .content {
        width: 100%;
    }
    .text {
        width: 100%;
    }
}
.content .text h2 {
font-weight: normal;
line-height: 1.5;
font-size: 32px;
margin-bottom: 20px;
}
.content .text p {
font-size: 14px;
line-height: 2;
}
.landing .change-background {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.landing .fa-angle-left {
    left: 30px;
}
.landing .fa-angle-right {
    right: 30px;
} 
@media (max-width:767px) {
    .change-background {
        display: none;
    }
}
.landing ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}
.landing ul li {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 8px;
}
.landing ul li.active {
    background-color: var(--main-color);
}
/*end landing*/
/*start servieces*/
.servieces {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.serv-container .serv-box {
    display: flex;
}
.serv-container .serv-box h3 {
    color: var(--main-color);
    margin-bottom: 30px;
}
.serv-container .serv-box p {
    line-height: 2;
    color: #777;
}
@media (max-width:767px) {
.serv-container .serv-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
    }
    .text {
        width: 100%;
    }
.serv-container ,.serv-box i {
    margin: 0 0 30px;
}
}
@media (min-width: 768px) {
    .servieces .serv-container {
        display: grid;
        grid-template-columns: repeat(auto-fill ,minmax(450px, 1fr));
        column-gap: 40px;
        row-gap: 60px;
    }
    .serv-container .serv-box i {
        margin-right: 50px;
    }
}
/*end servieces*/
/*start design*/
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    height: 600px;
    background-image: url(images/design-features.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.design::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 60%);
}
.design .image {
    position: relative;
    bottom: -150px;
    z-index: 2;
    text-align: center;
    flex: 1;
}
@media (max-width:767px) {
    .design .image {
        display: none;
    }
}
.design .text {
    flex: 1;
    z-index: 2;
    color: white;
    background-color: rgb(15 116 143 / 70%);
    padding: 50px;
}
.design .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.design .text ul li {
    padding: 15px;
}
.design .text ul li::before {
    font-family: "font awesome 5 free";
    content: "\f108";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}
/*end design*/
/*start portfilo*/
.portfilo {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.portfilo .shiffle {
    display: flex;
    justify-content: center;
}
.portfilo .shiffle li {
    padding: 10px;
}
.portfilo .shiffle li.active {
    background-color: var(--main-color);
    color: white;
}
.portfilo .port-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.portfilo .port-container .image img {
    max-width: 100%;
    transition: 0.3s;
}
.portfilo .port-container .box {
    position: relative;
    overflow: hidden;
}
.portfilo .port-container .box .caption {
    background-color: white;
    position: absolute;
    bottom: -100px;
    transition: 0.3s;
    width: 100%;
    padding: 20px;
}
.portfilo .port-container .box .caption h4 {
font-weight: normal;
margin-bottom: 10px;
}
.portfilo .port-container .box .caption p {
    color: var(--main-color);
}
.portfilo .port-container .box:hover .caption {
    bottom: 0;
}
.portfilo .port-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
}
@media (min-width:768px) {
    .portfilo .port-container .box {
        flex-basis: 50%;
    }
    }
@media (min-width:1199px)  {
    .portfilo .port-container .box {
        flex-basis: 25%;
    }
}
.more {
    background-color: var(--main-color);
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 15px 20px;
    margin: 35px auto;
    display: block;
    width: fit-content;
    border: none;
}
/*end portfilo*/
/*start video*/
.video {
    position: relative;
}
.video::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 40%);
}
video {
    width: 100%;
}
.video .text {
    position: absolute;
    top: 50%;
    background-color: rgb(15 116 143 / 60%);
    width: 100%;
    padding: 50px;
    color: white;
    text-align: center;
    transform: translateY(-50%);
}
.video .text h2 {
    font-weight: normal;
    margin: 0 0 30px;
    text-transform: uppercase;
}
.video .text p {
    margin-bottom: 30px;
}
.video .text input {
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
}
/*end video*/
/*start about*/
.about {
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
}
.about .image img {
    position: relative;
    margin-top: -120px;
    bottom: -120px;
    max-width: 100%;
}
@media (max-width:767px) {
    .about .image img {
        margin-top: -60px;
        bottom: -60px;
    }
}
/*end about*/
/*start stuts*/
.status {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(images/stats.png);
    background-size: cover;
    position: relative;
}
.status::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 60%);
}
.status .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.status .container .box {
    text-align: center;
    padding: 50px;
    background-color: rgb(15 116 143 / 70%);
    color: white;
}
.status .container .box i {
    width: 40px;
    background-color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 25px;
}
@media(max-width:767px) {
    .status .container .box {
        flex-basis: 100%;
    }
    .container .test .contant img {
        margin-right: 0;
    }
    .our-skiles {
        margin-top: 90px;
    }
}
@media (min-width:768px) {
    .status .container .box {
        flex-basis: 50%;
    }
}
@media (min-width:992px) {
    .status .container .box {
        flex-basis: 25%;
    }
}
.status .container .box .number {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 25px;
}
.status .container .box p {
    font-size: 14px;
}
/*end stuts*/
/*start skils*/
.skiles {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.skiles .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width:991px) {
    .skiles .container {
        flex-direction: column;
    }
}
.skiles .tess {
    position: relative;
}
.skiles .test , .skiles .our-skiles {
    width: 45%;
}
.skiles .container .test .hed {
    text-align: center;
}
.skiles .container .test .hed h3 {
    font-weight: normal;
    margin-bottom: 30px;
}
.skiles .container .test .hed p {
    color: #777;
    line-height: 2;
}
.skiles .container .test .contant {
    display: flex;
    align-items: center;
    margin-top: 70px;
}
.skiles .container .test .contant img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 40px;
}
@media (max-width:767px) {
    .skiles .container .test .contant img {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .skiles .tess .contant{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width:991px) {
    .skiles .test , .skiles .our-skiles {
        width: 100%;
    }
    .skiles .our-skiles {
        margin-top: 100px;
    }
}
.skiles .container .test .text {
    line-height: 1.6;
    border-bottom: 1px solid #ccc;
}
.skiles .container .test .text p {
    text-align: right;
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}
.bull {
    display: flex;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}
.bull li {
    padding-left: 10px;
    border: 1px solid #aaa;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px;
}
.bull li.active {
    background-color: var(--main-color);
    border: none;
}
/*start skill*/
.skiles .our-skiles .m-hed 
{
    text-align: center;
}
.skiles .container .our-skiles .m-hed h3 {
    font-weight: normal;
    margin-bottom: 30px;
}
.skiles .container .our-skiles .m-hed p {
    color: #777;
    line-height: 2;
}
.skiles .our-skiles .our {
    margin-top: 70px;
}
.skiles .our-skiles .prog {
    padding-bottom: 30px;
}
.skiles .our-skiles .prog h4 {
    font-weight: normal;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.skiles .our-skiles .prog-hold {
    background-color: #ccc;
    height: 30px;
}
.skiles .our-skiles .prog-hold span {
    background-color: var(--main-color);
    display: block;
    position: relative;
    height: 100%;
}
.skiles .our-skiles .prog-hold span::before {
    content: attr(data-progress);
    position: absolute;
    right: 0;
    top: -40px;
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 4px;
}
.skiles .our-skiles .prog-hold span::after {
    content: "";
    border: 10px solid;
    border-color: black transparent transparent transparent;
    position: absolute;
    right: 9px;
    top: -14px;
}
/*end skils*/
/*start quote*/
.quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(images/quote.jpg);
    background-size: cover;
    position: relative;
}
.quote::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 75%);
}
.quote .container {
    position: relative;
    color: white;
    text-align: center;
}
.quote q {
    display: block;
    font-size: 30px;
    margin-bottom: 25px;
}
.quote q::before {
    font-family: "font awosome 5 free";
    content: f10d;
    font-weight: bolder;
    margin-right: 2px;
}
.quote q::after {
font-family: "font awesome 5 free" ;
content: f10e;
font-weight: 900;
margin-left: 2px;
}
/*end quote*/
/*start plans*/
.plans {
padding-top: var(--section-padding);
padding-bottom: var(--section-padding);
}
.plans .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}
.plans .plan {
    background-color: #fcfcfc;
}
.plan .plan-h {
    padding: 50px;
    text-align: center;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);

}
.plans .plan h3 {
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 auto 25px;
}
.plans .plan span {
    font-size: 50px;
    font-weight: 900;
    position: relative;
}
.plans .plan span::before {
    content: "$";
    font-size: 20px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: -40%;
    font-weight: normal;
} 
.plans .plan span::after {
    content: "/mo";
    font-size: 14px;
    text-transform: uppercase;
    position: absolute;
    bottom: 10px;
    right: -60%;
}
.plan ul {
border-bottom: 1px solid var(--main-color);
display: flex;
flex-direction: column;
align-items: center;
}
.plan ul li {
padding: 20px;
position: relative;
}
.plan ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 140px;
    background-color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    }
    .plan .footer a {
        display: block;       
        margin: 25px auto;
        padding: 20px;
        border: 1px solid var(--main-color);
        text-decoration: none;
        width: fit-content;
        color: black;
    }
.contact {
    margin: 50px auto 20px;
    text-align: center;
    font-size: 20px;
}
@media (max-width:767px){
.contact{
    width: 340px;
}
}
.contact-a {
    display: block;
    text-decoration: none;
    margin: 0 auto;
    width: fit-content;
    padding: 15px 40px;
    background-color: var(--main-color);
    color: white;
}
/*end plans*/
/*start subscribe*/
.subscribe {
    background-image: url(images/subscribe.jpg);
    background-size: cover;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.subscribe::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 40%);
}
.subscribe .container {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.subscribe .container input[type="email"] {
    background: none;
    padding: 14px 0 14px 55px;
    border: 1px solid white;
    border-right: none;
    width: calc(100% - 131px);
    margin-right: 0;
}
.subscribe .container input[type="email"]::placeholder {
    color: white;
    text-transform: capitalize;
}
.subscribe .container input[type="submit"] {
padding: 14px;
background-color: var(--main-color);
color: white;
border: 1px solid white;
border-left: none;
margin-left: -5px;
text-transform: uppercase;
}
.subscribe .container .text-s {
    color: white;
}
.inpt {
    display: flex;
    align-items: center;
}
.inpt i {
    position: absolute;
    color: white;
    top: 50%;
    left: 35px;
}
.text-s p {
    line-height: 2;
    max-width: 100%;
    margin-left: 50px;
}
@media (max-width:991px){
    .subscribe .container {
        display: flex;
        flex-direction: column;
    }
    .inpt i {
        top: 25px;
    }
    .text-s p {
        margin-top: 20px;
    }
}
/*end subscribe*/
/*start contact us*/
.contact-us {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact-us .con-us {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 767px) {
    .contact-us .con-us {
        flex-direction: column;
    }
}
.contact-us .con-us form {
    flex-basis: 70%;
}
.contact-us .con-us .main-input {
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
}
.contact-us .con-us textarea.main-input {
height: 200px;
}
.contact-us .con-us input[type="submit"] {
    display: flex;
    margin-left: auto;
    padding: 15px;
    background-color: var(--main-color);
    color: white;
    border: none;
    text-transform: uppercase;
}
.con-text {
    flex-basis: 25%;
}
@media (max-width: 767px) {
    .con-text {
        margin: 0 auto;
        order: -1;
    }
}
.con-text h4 {
    font-weight: 600;
    margin-bottom: 25px;
}
.con-text span {
    display: block;
    padding: 5px;
    color: #777;
}
.con-text .add {
margin-top: 80px;
}
@media (max-width:767px) {
    .con-text .add {
        margin-top: 30px;
    }
}
.con-text address {
    line-height: 2;
    color: #777;
}
@media (max-width:767px) {
    .con-text address {
        margin-bottom: 30px;
    }
}
/*end contact us*/
/*start footer*/
.footar {
    background-image: url("images/subscribe.jpg");
    background-size: cover;
    padding-top: calc(var(--section-padding) / 2);
    padding-bottom: calc(var(--section-padding) / 2);
    color: white;
    text-align: center;
    position: relative;
}
.footar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 70%);
}
.footar .container {
    position: relative;
}
.footar .container img {
    margin-bottom: 30px;
}
.footar .container p:not(.copyright) {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    width: fit-content;
    margin: 20px auto;
    font-size: 22px;
}
.footar .container .social {
margin-top: 20px;
}
.footar .container .social i {
padding: 10px 15px;
}
.footar .container .copyright {
margin-top: 60px;
}
.footar .container .copyright span {
    color: var(--main-color);
}
/*end footer*/
